@use "../../styles/abstracts/variables" as vars;

/* ==========================================
 * Styles du lien d'action
 * ========================================== */

.actionLink {
    display: flex;
    align-items: center;
    gap: vars.$spacing-2;
    padding: vars.$spacing-2 vars.$spacing-4;
    border: vars.$border-width-default solid vars.$border-default;
    border-radius: vars.$radius-md;

    transition:
        transform vars.$transition-duration-fast vars.$transition-easing-default,
        border-color vars.$transition-duration-fast vars.$transition-easing-default,
        color vars.$transition-duration-fast vars.$transition-easing-default,
        background vars.$transition-duration-fast vars.$transition-easing-default;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: scale(0.98);
    }
}

.primary {
    color: vars.$primary;
    border-color: vars.$primary;
    background: linear-gradient(
        230deg,
        rgba(vars.$primary, 0.3),
        transparent
    );

    &:hover {
        color: vars.$secondary;
        border-color: vars.$secondary;
        background: linear-gradient(
            230deg,
            rgba(vars.$secondary, 0.3),
            transparent
        );
    }

    &:active {
        color: vars.$neutral-100;
        border-color: vars.$neutral-100;
    }
}

.secondary {
    color: vars.$accent;
    border-color: vars.$accent;

    &:hover {
        color: vars.$accent;
        border-color: vars.$accent;
        background-color: rgba(vars.$accent, $alpha: 0.15);
    }

    &:active {
        color: vars.$neutral-100;
        border-color: vars.$neutral-100;
    }
}
