@use "../../styles/abstracts/variables" as vars;

/* ==========================================
 * Styles Header
 * ========================================== */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        inset: 0 auto auto 0;

        width: 400px;
        height: 200px;

        background: radial-gradient(
            ellipse at top left,
            rgba(vars.$neutral-950, 0.95) 0%,
            rgba(vars.$neutral-950, 0.75) 25%,
            rgba(vars.$neutral-950, 0.35) 50%,
            transparent 75%
        );

        z-index: 0;
        pointer-events: none;
    }
}

.headerContent {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: vars.$spacing-6;

    z-index: 1;

    .logo {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        img {
            display: block;
            height: 40px;
            width: auto;
            max-width: none;
            filter: drop-shadow(2px 6px 6px vars.$neutral-950)
                drop-shadow(0 0 4px vars.$neutral-950);
        }
    }
}
